<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')%>
    <link rel="stylesheet" href="/styles/edit-task.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>
<div class="container" id="glass">
    <section class="hero title is-1">
        <h2>Edit a task</h2>
        <h4 class="subtitle"><i>Update your task!</i></h4>
    </section>

    <form class="field" method="POST" action="/tasks/<%=taskToEdit._id %>?_method=PUT">
        <!-- Name input -->
        <label class="label" for="taskName">Task Name:</label>
        <input class="input is-normal is-rounded is-hovered" type="text" id="taskName" name="taskName" value="<%= taskToEdit.name %>" required>
        <br>
        <!-- Age input -->
        <label class="label" for="title">Title:</label>
        <input class="input is-normal is-rounded is-hovered" type="text" id="title" name="title" value="<%= taskToEdit.title %>" required>
        <br>
        <!-- Breed input -->
        <label class="label" for="description">Description:</label>
        <input class="input is-normal is-rounded is-hovered" type="text" id="description" name="description" value="<%= taskToEdit.description %>">
        <br>
        <!-- Species input -->
        <label class="label" for="species">Status:</label>
        <select class="select" id="species" name="species" required>
            <% if (taskToEdit.status === "Unfinished") { %>
            <option value="Unfinished" selected>Unfinished</option>
            <option value="Almost Done">Almost Done</option>
            <option value="Finished">Finished</option>
            <% } else if (taskToEdit.status === "Almost Done"){ %>
            <option value="Unfinished">Unfinished</option>
            <option value="Almost Done" selected>Almost Done</option>
            <option value="Finished">Finished</option>
            <% } else { %>
            <option value="Unfinished">Unfinished</option>
            <option value="Almost Done">Almost Done</option>
            <option value="Finished" selected>Finished</option>
            <% } %>
        </select>
        <br>
        <!-- City input -->
        <label class="label" for="dueDate">Have completed by:</label>

        <input class="input is-normal is-rounded is-hovered" type="date" id="dueDate" name="dueDate" value="<%= taskToEdit.dueDate %>" required>
        <br>
        
    
        <input class="button" type="submit" value="Edit Task">
    </form>
</div>

    <%- include('../partials/footer.ejs') %>
</body>

</html>
