<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/styles/task/task-details.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <div class="card" id="glass">
        <div class="card-content">
        
        
        <section>
            <p class="title is-1 has-background-info-light"><strong>Name:</strong> <%= task.taskName %></p>
            <p><strong>Title:</strong> <%= task.title %></p>
            <p><strong>Description:</strong> <%= task.description %></p>
            <p><strong>Status</strong> <%= task.status %></p>
            <p><strong>Due Date:</strong> <%= task.dueDate %></p>
        </section>
        
        <section class="actions card-footer">
            <div class="card-footer-item" id="foot"> 
                <span> 
            <button class="button"><a href="/tasks/<%= task._id %>/edit">Edit</a></button>
            </div>
            <div class="card-footer-item">
            <form method="POST" action="/tasks/<%= task._id %>?_method=DELETE">
                <input class="button is-danger" type="submit" value="Delete" />
            </form>
            </div>
                </span>
            </div>
        </section>
    </div>
    </div>

    <%- include('../partials/footer.ejs') %>
</body>

</html>
