<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: `${task.name} | Task Manager`}) %>
    <link rel="stylesheet" href="/styles/pet-details.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <div>
        <section class="actions">
            <button class="btn"><a href="/user/<%= tasks._id %>/edit">Edit</a></button>
            <form method="POST" action="/user/<%= tasks._id %>?_method=DELETE">
                <input class="btn" type="submit" value="Delete" />
            </form>
        </section>
        <h2 class="task-name"><%= task.name %></h2>
        <section>
            <p><strong>Title:</strong> <%= tasks.newTitle %></p>
            <p><strong>Description:</strong> <%= tasks.description %></p>
            <p><strong>Status</strong> <%= tasks.status %></p>
            <p><strong>Due Date:</strong> <%= tasks.dueDate %></p>
            <p><strong>Category:</strong> <%= tasks.category[] %></p>
        </section>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
