<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
    <link rel="stylesheet" href="/styles/home.css">
</head>


<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <section class="hero">
            <div class="title "><strong>Track Your Tasks</strong></div>
            <a  href="/tasks/new/<%=userId%>" class="btn" id="subhead">Create New Tasks!</a>
        </section>

        
        
            <section class="tasks">
                <ul>
                    <% for (let task of tasks) { %>
                    <li>
                        <!-- <figure> -->
                            <div class="card">
                
                                <div class="card-content " id="glass">
                                 <p class="title is-1 has-background-info-light"><%= task.taskName %></p>
                    
                            <!-- <figcaption> -->
                                <p class="subtitle is-2"><%= task.title %></p>
                                <p class="subtitle is-3"><%= task.description %></p>
                                <p class="subtitile is-4"><%= task.status %></p>
                                <p class="subtitle is-6">Task Due: <%= task.dueDate %></p>
                            <!-- </figcaption> -->
                            </div>
                                <div class="card-footer">
                                    <p class="card-footer-item">
                                        <span>
                                        <a class="button" href="/tasks/details/<%= task._id %>">Details</a>
                                        </span>
                                    </p>
                                </div>
                            
                            </div>
                        <!-- </figure> -->
                    </li>
                    <% } %>
                </ul>
            </section>
        

        <section class="about ">
            <h2 class="title is-6">About Us</h2>
            <p class="subtitle is-6"> Here to help you better organize and better plan! Stay up to date with all your work.
            </p>
            <a class= "button" id="aboutBtn" href="/about" class="btn">Learn More</a>
        </section>

        
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
