<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'Task Manager'}) %>
    <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <section class="hero">
            <h2>Track Your Tasks</h2>
            <a href="/controllers/user.js" class="btn">Create New Tasks!</a>
        </section>

        <section class="about">
            <h2>About Us</h2>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, commodi sapiente ad illum odio tempora aperiam repellendus velit doloribus cupiditate rerum accusantium deserunt earum quibusdam nisi facilis! Repellat, error doloribus!
            </p>
            <a href="/about" class="btn">Learn More</a>
        </section>

        <!-- <section class="featured-pets">
            <h2>Featured Pets</h2>
            <ul class="pet-grid">
                <% for (let pet of pets) { %>
                <li>
                    <figure>
                        <img src="<%= pet.photo %>" alt="Kitten">
                    </figure>
                    <figcaption>
                        <div class="featured-info">
                            <h3><%= pet.name %></h3>
                            <p>Age: <%= pet.age %> yr(s)</p>
                        </div>
                        <a href="/pets/<%= pet._id %>" class="btn">Learn More</a>
                    </figcaption>
                </li>
                <% } %>
            </ul>
        </section> -->
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
