<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
    <link rel="stylesheet" href="/styles/home.css">
</head>


<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <section class="hero">
            <div class="title "><strong>Track Your Tasks</strong></div>
            <a href="/tasks/new/<%=userId%>" class="btn" id="subhead">Create New Tasks!</a>
        </section>

        
        
            <section class="tasks">
                <ul>
                    <% for (let task of tasks) { %>
                    <li>
                        <!-- <figure> -->
                            <div class="card">
                
                                <div class="card-content " id="glass">
                                <p class="title"><%= task.name %></p>
                            <!-- <figcaption> -->
                                <p class="subtitle"><%= task.title %>, <%= task.description %>, <%= task.status %> <%= task.dueDate %></p>
                            <!-- </figcaption> -->
                            </div>
                                <div class="card-footer">
                                    <p class="card-footer-item">
                                        <span>
                                        <a href="/tasks/details/<%= task._id %>">Learn More</a>
                                        </span>
                                    </p>
                                </div>
                            
                            </div>
                        <!-- </figure> -->
                    </li>
                    <% } %>
                </ul>
            </section>
        

        <section class="about">
            <h2>About Us</h2>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, commodi sapiente ad illum odio tempora aperiam repellendus velit doloribus cupiditate rerum accusantium deserunt earum quibusdam nisi facilis! Repellat, error doloribus!
            </p>
            <a href="/about" class="btn">Learn More</a>
        </section>

        
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
